{% extends "base.html" %}
{% block content %}

    <h3 class="center-align bg-opaque">Edit Genre</h3>

    <div class="row bg-opaque">
        <form class="col s12" method="POST" action="{{ url_for('edit_genre', genre_id=genre._id) }}">
            <div class="row">
                <!-- Genre name -->
                <div class="input-field col s12">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="genre_name" name="genre_name" maxlength="25" value="{{ genre.genre_name }}" type="text"
                        class="validate" required>
                    <label for="genre_name">Genre Name</label>
                </div>
                <div class="row">
                    <div class="col s12 center-align">
                        <a href="{{ url_for('get_categories') }}" class="btn red waves-effect waves-light">Cancel</a>
                        <a href="{{ url_for('add_genre') }}" class="btn orange waves-effect waves-light">Clear</a>
                        <button class="btn green waves-effect waves-light" type="submit">
                            Edit Genre<i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>

{% endblock %}