{% extends "base.html" %}
{% block content %}

    <!--categories menu -->
    <div class="row">
        <div class="center">
            <a class="btn" href="{{ url_for('get_movies') }}">All movies</a>
            {% for genre in genres %} 
                <a class="btn" href="{{url_for('movie_genre_sort', genre=genre.genre_name)}}">{{ genre.genre_name }}</a>
            {% endfor %} 
        </div>
    </div>
    
    <!--search menu-->
    <div class="row center">
        <form class="search-input" action="{{ url_for('search') }}" method="POST">
            <div class="center col s12 m8">
                <input type="search" placeholder="movie name or description" minlength="3" name="query" id="query"/>
            </div>
            <div class="search-btns left">
                <button class="btn-small blue waves-effect waves-light" type="submit">
                    Search<i class="material-icons right">send</i>
                </button>
                <a href="{{ url_for('get_movies') }}" class="red btn-small text-shadow">Reset</a>
            </div>
        </form>
    </div>
    
    <!--movie cards-->
    {% if movies|length > 0 %}
    <div class="row">
        <ul class="movie-cards">
            {% for movie in movies %}
            <div class="col s6 m4 l2">
                <li>
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img src="{{ url_for('static', filename = 'images/clipboard.jpg') }}" class="activator">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">{{ movie.movie_name }}
                                <i class="material-icons right">more_vert</i></span>
                            {% if session.user %}
                            <a class="waves-effect waves-light btn-small" href="{{ url_for('edit_movie', movie_id=movie._id) }}">Edit</a>
                            {% endif %}
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">{{ movie.movie_name }}<i
                                    class="material-icons right">close</i></span>
                            {{ movie.genre_name }}<br>
                            {{ movie.release_date }}<br>
                            {{ movie.run_time }}<br>
                            {{ movie.age_rating }}<br>
                            {{ movie.format_type }}<br>
                            {{ movie.movie_story }}<br>
                            {{ movie.wish_list }}<br>
                            <p><em>by: {{movie.created_by}}</em></p>
                        </div>
                    </div>
                </li> 
            </div>
            {% endfor %}
        </ul>
    </div>
    {% else %}
    <h3>No movies Found</h3>
    {% endif %}

{% endblock %}