{% extends "base.html" %}
{% block content %}


<div class="row">
    {% for movie in movies %}
    <div class="col s6 m4 l2">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <img src="{{ url_for('static', filename = 'images/clipboard.jpg') }}" class="activator">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Card Title<i
                        class="material-icons right">more_vert</i></span>
                <p><a href="#">This is a link</a></p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Card Title<i
                        class="material-icons right">close</i></span>
                
                {{ movie.movie_name }}<br>
                {{ movie.genre_name }}<br>
                {{ movie.release_date }}<br>
                {{ movie.run_time }}<br>
                {{ movie.age_rating }}<br>
                {{ movie.format_type }}<br>
                {{ movie.movie_story }}<br>
                {{ movie.star_rating }}<br>
                {{ movie.wish_list }}<br>
            </div>
        </div>
    </div>
    {% endfor %}
</div>



{% endblock %}